<section class="auth-sec">
  <div class="container">
    <div class="row">
      <div class="auth col-xs-12 col-lg-6 m-auto p-4 px-5">
        <img src="../../../../assets/images/logo/logo-auth.svg" alt="" class="d-block m-auto mb-5">
        <h2> Reset  Password</h2>
        <p class="grey-color">Please Enter Your Otp  or Check Your Inbox </p>
        <form [formGroup]="resPassForm" (ngSubmit)="sendReq()">
          <!-- email -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope grey-color"></i></span>
            <input type="email" class="form-control" placeholder="Enter your E-mail" formControlName="email" aria-label="email"
            >
          </div>
          <ng-container *ngIf="resPassForm.get('email')?.dirty || resPassForm.get('email')?.touched">
            <p class="text-danger" *ngIf="resPassForm.get('email')?.errors?.['required']">Email is required</p>
            <p class="text-danger" *ngIf="resPassForm.get('email')?.errors?.['email']">
              Email is not valid</p>
          </ng-container>
          <!-- seed -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope grey-color"></i></span>
            <input type="text" class="form-control" placeholder="OTP" formControlName="seed" aria-label="seed"
            >
          </div>
          <ng-container *ngIf="resPassForm.get('seed')?.dirty || resPassForm.get('seed')?.touched">
            <p class="text-danger" *ngIf="resPassForm.get('seed')?.errors?.['required']">The seed is required</p>
          </ng-container>
        <!-- password -->
        <div class="input-group mb-3 flex-nowrap position-relative">
          <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock grey-color"></i></span>
          <input autocomplete="--" [type]="showPassword? 'text' : 'password'" class="form-control" placeholder="Password" formControlName="password">
          <span class="eye-pass" (click)="toggleShowPass()">
            <i
            class="fa-solid position-absolute grey-color"
            [class]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"
            >
            </i>
          </span>
        </div>
        <ng-container *ngIf="resPassForm.get('password')?.dirty || resPassForm.get('password')?.touched">
          <p class="text-danger" *ngIf="resPassForm.get('password')?.errors?.['required']">password is required</p>
          <p class="text-danger" *ngIf="resPassForm.get('password')?.errors?.['pattern']">
            least 8 characters, one
            special character, one lowercase letter, one uppercase letter and one digit.
          </p>
        </ng-container>
        <!-- confirmPassword -->
          <div class="input-group flex-nowrap position-relative mb-3">
            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock grey-color"></i></span>
            <input autocomplete="--" [type]="showConfirmPassword? 'text' : 'password'" class="form-control" placeholder="confirmPassword" formControlName="confirmPassword">
            <span class="eye-pass" (click)="toggleShowConfirmPass()">
              <i
              class="fa-solid position-absolute grey-color"
              [class]="!showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
              >
              </i>
            </span>
          </div>
          <ng-container *ngIf="resPassForm.get('confirmPassword')?.dirty || resPassForm.get('confirmPassword')?.touched">
            <p class="text-danger" *ngIf="resPassForm.get('confirmPassword')?.errors?.['required']">confirmPassword is required</p>
            <p class="text-danger" *ngIf="resPassForm.getError('mismatch')">
              not match with password
            </p>
          </ng-container>
          <button class="bg-main-color w-100" type="submit" [disabled]="resPassForm.invalid">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</section>
