<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 m-auto auth-form">
        <div class="d-flex justify-content-center">
          <img class="w-75" src="assets/images/logo/logo-auth.svg" alt="food logo">
        </div>
        <h5 class="text-color mt-4">Change Password</h5>
        <p class="gray-color">Welcome Back! Please enter your details</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <input [type]="isPasswordVisible['oldPassword'] ? 'text': 'password'"
              class="form-control textfield-background" placeholder="Old password" aria-label="Password"
              formControlName="oldPassword" aria-describedby="basic-addon1">

            <div class="input-group-text textfield-background">
              <i (click)="togglePasswordVisibility('oldPassword')"
                [ngClass]="isPasswordVisible['oldPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
            </div>
          </div>

          <ng-container *ngIf="oldPassword?.dirty || oldPassword?.touched">
            <p class="text-danger" *ngIf="oldPassword?.errors?.['required']">The old password is required</p>
          </ng-container>
          <div class="input-group mb-3 ">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <input [type]="isPasswordVisible['newPassword']  ? 'text': 'password'"
              class=" form-control textfield-background" placeholder="New password" aria-label="Password"
              formControlName="newPassword" aria-describedby="basic-addon1">
            <div class="input-group-text textfield-background">
              <i (click)="togglePasswordVisibility('newPassword')"
                [ngClass]="isPasswordVisible['newPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
            </div>
          </div>
          <ng-container *ngIf="newPassword?.dirty || newPassword?.touched">
            <p class="text-danger" *ngIf="newPassword?.errors?.['required']">The newPassword is required</p>
            <p class="text-danger" *ngIf="newPassword?.errors?.['pattern']">The newPassword should contain at
              least 8 characters, one
              special character, one lowercase letter, one uppercase letter and one digit.</p>
          </ng-container>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <input [type]="isPasswordVisible['confirmPassword'] ? 'text' : 'password'"
              class="form-control textfield-background" placeholder="Confirm Password" aria-label="Confirm Password"
              formControlName="confirmNewPassword" aria-describedby="basic-addon1">
            <div class="input-group-text textfield-background">
              <i (click)="togglePasswordVisibility('confirmPassword')"
                [ngClass]="isPasswordVisible['confirmPassword'] ? 'fa-eye-slash' : 'fa-eye'" class="fa-regular"></i>
            </div>
          </div>
          <ng-container *ngIf="confirmNewPassword?.dirty || confirmNewPassword?.touched">
            <p class="text-danger" *ngIf="confirmNewPassword?.errors?.['required']">Confirm password is required</p>
            <p class="text-danger"
              *ngIf="changePasswordForm.getError('mismatch')">
              Confirm password does not match the password
            </p>
          </ng-container>
          <p class="text-danger">{{error}}</p>
          {{error}}
          <button [disabled]="changePasswordForm.invalid" class="button main-btn w-100">Change password</button>
        </form>
      </div>
    </div>
  </div>
</section>
