
.auth-sec {
  height: 100vh;
  background: url(../../../../../assets/images/auth/background-auth.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth {
    background-color: #fff;
    border-radius: 16px;
    .input-group {
      .eye-pass i {
        z-index: 99;
        cursor: pointer;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    button {
      cursor: pointer;
      padding: 11px;
      color: #fff;
      border: none;
      transition: 0.3s;
      border-radius: 8px;
      &:hover {
        opacity: 0.7;
      }
    }
  }

}

