<section class="not-found">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo/logo-auth.svg" alt="">
    </div>
    <h4 class="oops">Oops. <span class="page-not">Page not found </span></h4>
    <p class="desc">This Page doesn’t exist or was removed! <br> We suggest you  back to home.</p>
    <button class="d-flex justify-content-center align-items-center gap-3" routerLink="/dashboard/home">
      <i class="fa-solid fa-arrow-left-long"></i>
      <div>
        <span>Back To <br> Home</span>
      </div>
    </button>
  </div>
  <img class="man-not-found" src="../../../assets/images/not-found/not-found-page.svg" alt="">
</section>
